.head-icon {
    width: 50px;
    height: 50px;
}

.head-icon-mobile {
    width: 50px;
    height: 50px;
}

.search-input {
    background-color: #F0F2F5;
}

.search-input:focus {
    border-color: unset;
    box-shadow: none;
    background-color: #F0F2F5;
}

.home-page-icon-size {
    margin-top: 8px;
    font-size: 22px;
}

.pe-6 {
    padding-right: 4rem;
}

.pe-7 {
    padding-right: 5rem;
}

.icon-bg {
    cursor: pointer;
    height: 38px;
    width: 38px;
    background-color: #D6D9DD;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-bg i {
    font-size: 19px;
}

.ashraf {
    cursor: pointer;
    height: 38px;
    width: 38px;
}

.header:hover {
    border-bottom: #0866FF solid;
    cursor: pointer;
}

.header:hover i {
    color: #0866FF;
}

.left-icon {
    margin-top: 4px;
    margin-left: 1px;
    font-size: 20px;
}

.left-icon:hover {
    cursor: pointer;
    border-color: unset;
    background-color: #F2F4F7;
}

.names-icons {
    font-family: sans-serif;
    font-size: 17px;
    color: rgb(1, 1, 1);
    margin-left: 10px;

}

.divider {
    border-top: 2px solid #E1E3E6;
    margin: 20px 0;
    width: 75%;

}

.adit {
    color: #65686C;
}

.adit-a {
    margin-left: 50px;
}

.bottom-left {
    width: 40px;
    height: 40px;
    border: 2px solid rgb(250, 247, 247);
    border-radius: 12px;
    margin-top: 10px;
}

.left:hover {
    cursor: pointer;
    border-color: unset;
    background-color: #F2F4F7;
}

.names-icons-b {
    font-family: sans-serif;
    font-size: 17px;
    color: rgb(1, 1, 1);
    margin-left: 10px;
    text-align: center;
}

.create-post {
    width: 500px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.Image-Input {
    display: flex;
    align-items: start;
}

.create-icon-post {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.create-input-post {
    background-color: #F0F2F5;
    margin-top: 6px;
    margin-left: 10px;
    cursor: pointer;


}

.create-input-post:focus {
    border-color: unset;
    box-shadow: none;
    background-color: #F0F2F5;

}

.create-input-post:hover {
    background-color: #bcbcbe;

}

.divider-p {
    border-top: 2px solid #E1E3E6;
    margin: 20px 0;

}

.mouse {
    cursor: pointer;
}

.icon-h {
    color: #45BD62;
}

.icon-h-2 {
    color: #F02849;
}

.icon-h-3 {
    color: #f7f5f5;
}

.story-container {
    width: 115px;
    height: 175px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    background-color: white;
    text-align: center;
}

.story-container img {
    width: 100%;
    height: 75%;
    object-fit: cover;
}

.story-container:hover {
    filter: sepia(50%) brightness(0.8);
    width: 120px;
    height: 180px;
}

.story {
    width: 115px;
    height: 175px;
    margin-top: 10px;
    background-image: url("/Images/ash.ico");
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    position: relative;
    overflow: hidden;

}

.story:hover {
    filter: sepia(50%) brightness(0.8);
    width: 120px;
    height: 180px;
}

.k {

    font-size: 35px;
    background-color: #075CE5;
    bottom: 1.3rem;
    left: 2.1rem;
    width: 55px;
    border: solid 5px white;
}

.ss {
    margin-top: 15px;
}





/* .create-story {
    width: 115px;
    height: 125px;
    background-image: url("/Images/ash.ico");
    margin-top: 5px;
    background-color: white;
} */
.story-container-k {
    width: 115px;
    height: 175px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    background-color: white;
    text-align: center;
}

.story-container-k img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.story-container-k:hover {
    filter: sepia(50%) brightness(0.8);
    width: 120px;
    height: 180px;
}

.kk {

    position: absolute;
    /* لجعلها عائمة */
    top: 10px;
    /* المسافة من الأعلى */
    left: 10px;
    box-shadow: 0 2px 5px rgba(255, 254, 254, 0.2);
    width: 50px;
    height: 50px;
}

.s {
    margin-top: 15px;
}